/.clj-kondo/.cache
/.cpcache/
/.nrepl-port
/.shadow-cljs/
/.shadow-cljs/builds/main/dev/ana/cljs/analyzer.cljc.cache.transit.json
/classes/
/data/
/deps.png
/node_modules/
/resources/public/js
/trace.edn
/yarn-error.log
/.cider-repl-history
