{:paths ["src" "resources"]
 :deps  {org.clojure/clojure    {:mvn/version "1.11.0-alpha1"}

         ;; For clojure spec
         org.clojure/spec.alpha {:mvn/version "0.2.194"}
         edn-query-language/eql {:mvn/version "2021.07.18"}

         ;; For Graphql requests
         ;; com.wsscode/pathom     {:local/root "/Users/amarcar/dev/github/wilkerlucio/pathom"}
         com.wsscode/pathom                  {:mvn/version "2.4.0"}

         ;; Fulcro
         ;; com.fulcrologic/fulcro {:local/root "/Users/amarcar/dev/github/fulcrologic/fulcro"}
         com.fulcrologic/fulcro {:mvn/version "3.5.1"}

         ;; Websockets
         ;; com.fulcrologic/fulcro-websockets {:local/root "/Users/amarcar/dev/github/fulcrologic/fulcro-websockets"}
         com.fulcrologic/fulcro-websockets {:mvn/version "3.3.0"}
         com.taoensso/sente                {:mvn/version "1.16.2"}

         ;; http server
         ring/ring-core    {:mvn/version "1.9.4"}
         http-kit/http-kit {:mvn/version "2.5.3"}

         ;; TODO instead of generating html in server. Move into build system to
         ;; generate and move to resources/public/index.html. Wait till
         ;; clojure.build
         hiccup/hiccup     {:mvn/version "1.0.5"}

         ;; Integrant
         integrant/integrant {:mvn/version "0.8.0"}
         aero/aero           {:mvn/version "1.1.6"}

         ;; Crux DB
         datascript/datascript {:mvn/version "1.2.2"}}

 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.1.6" :git/sha "5636e61"}}
                   :extra-paths ["build"]
                   :ns-default build}
           :server-dev {:extra-paths ["dev" "classes" "test"]
                                 :extra-deps  {
                                               ;; Debugging
                                               hashp/hashp {:mvn/version "0.2.1"}

                                               ;; Clojure Spec
                                               org.clojure/test.check {:mvn/version "1.1.0"}

                                               org.clojure/tools.namespace {:mvn/version "1.1.0"}
                                               com.wsscode/pathom-viz      {:mvn/version "1.0.9"}

                                               ;; Integrant reloaded
                                               integrant/repl {:mvn/version "0.3.2"}}
                                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

           :ui {:extra-deps {org.clojure/clojurescript           {:mvn/version "1.10.879"}
                             thheller/shadow-cljs                {:mvn/version "2.15.2"}}}

           :ui-dev {:extra-deps {binaryage/devtools {:mvn/version "1.0.3"}
                                 ;; Debugging
                                 hashp/hashp {:mvn/version "0.2.1"}
                                 }
                    :jvm-opts   ["-Dnashorn.args=--no-deprecation-warning"]}}}

;; Run client watch with npx shadow-cljs -d nrepl/nrepl:0.8.3 -d cider/piggieback:0.5.2 -d refactor-nrepl/refactor-nrepl:2.5.1 -d cider/cider-nrepl:0.26.0 server


;; -- old YMMV

;; Run server with clj -Anrepl:server:server-dev

;; Run client npx shadow-cljs server
