{:deps  {:aliases [:ui-dev :ui]}
 ;; nrepl stuff is in ~/.shadow-cljs.config.edn
 :nrepl {:port 9001
         :middleware [refactor-nrepl.middleware/wrap-refactor]}

 :dev-http {8001 "resources/public"}

 :builds {:main {:target            :browser
                 :output-dir        "resources/public/js/main"
                 :asset-path        "/js/main"
                 :module-hash-names true
                 :compiler-options  {:output-feature-set :es8}
                 :modules           {:main {:init-fn ra.app.client/start}}
                 :devtools          {:after-load  ra.app.client/refresh
                                     :preloads    [com.fulcrologic.fulcro.inspect.preload
                                                   com.fulcrologic.fulcro.inspect.dom-picker-preload
                                                   hashp.core]
                                     ;; :preloads   [com.fulcrologic.fulcro.inspect.preload]
                                     :repl-pprint true}}}}
